%table.data
  %thead
    %tr.head
      %th Name
      %th.align= "Expenditure (#{@report.currency})"
      %th.align= "Budget (#{@report.currency})"

  %tbody
    - @report.collection.each do |e|
      %tr
        %td= resource_link(e)
        %td.align= @report.format(e.total_spend)
        %td.align= @report.format(e.total_budget)
