%table.data
  %thead
    %tr.head
      %th Name
      %th.align= "Expenditure (#{@report.unit})"
      %th.align= "Budget (#{@report.unit})"

  %tbody
    - @report.collection.each do |e|
      %tr
        %td= resource_link(@report, e)
        %td.align= @report.format(@report.spend_value_method(e))
        %td.align= @report.format(@report.budget_value_method(e))
    - if @report.show_totals
      %tr.summary
        %td
          Total
        %td.align
          %span.currency= @report.currency
          = n2c(@report.total_spend, "", ",")
        %td.align
          %span.currency= @report.currency
          = n2c(@report.total_budget, "", ",")
