%table.data
  %thead
    %tr.head
      %th Name
      %th.align Expenditure
      %th.align Budget

  %tbody
    - @report.collection.each do |e|
      %tr
        %td= resource_link(e)
        %td.align= number_to_currency e.total_spend, :unit => ""
        %td.align= number_to_currency e.total_budget, :unit => ""

    - if unclassified_other_costs?
      %tr
        %td Not classified
        %td.align= number_to_currency unclassified_other_costs_spend, :unit => ""
        %td.align= number_to_currency unclassified_other_costs_budget, :unit => ""

    %tr.summary
      %td
        Total
      %td.align
        %span.currency= @report.currency
        = number_to_currency @response.total_spend, :unit => ""
      %td.align
        %span.currency= @report.currency
        = number_to_currency @response.total_budget, :unit => ""
