%table.data
  %thead
    %tr.head
      %th Name
      %th.align Expenditure
      %th.align Budget

  %tbody
    - @report.collection.each do |e|
      %tr
        %td= resource_link(e)
        %td.align= n2c(e.total_spend, "", ",")
        %td.align= n2c(e.total_budget, "", ",")

    %tr.summary
      %td
        Total
      %td.align
        %span.currency= @report.currency
        = n2c(@report.total_spend, "", ",")
      %td.align
        %span.currency= @report.currency
        = n2c(@report.total_budget, "", ",")
