%h2
  Recent Comments

- if comments.present?
  %ul.dashboard_comments
    - comments.each do |comment|
      - if comment.commentable
        %li
          .avatar
            = image_tag comment.user.gravatar(22)
          .comment
            .author
              .left
                = mail_to comment.user.email, comment.user.name
                == #{time_ago_in_words(comment.created_at)} ago
              .right
                - comment_title = truncate(model_name(comment.commentable), :length => 40)
                %span= link_to comment_title, commentable_url(comment)
            %p= truncate(comment.comment, :length => 300)
- else
  .section_base.wide
    %p.nothing
      There are no comments posted in the last 6 months.
