- title("Dashboard")

%h1.main_heading
  = current_request.name

.full
  .main#admin-summary
    %h2
      Organizations I Manage

    .section_base.less_spacing
      %table.data.fixed.am_organizations
        %tbody
          - @dashboard.organizations.each do |organization|
            - response = organization.data_responses.detect { |dr| dr.data_request_id == current_request.id }
            - if response
              %tr
                %td.title.wrap-45= link_to organization.name, projects_path(:response_id => response.id)
                %td
                  %ul
                    %li
                      = organization.contact_name || 'No contact person'
                      - if organization.contact_position.present?
                        %br
                        %span= organization.contact_position
                      =link_to '(more)', '#', class: 'contact_expander'
                    %li.hidden
                      = organization.contact_phone_number.presence || organization.contact_main_office_phone_number || 'No contact number'
                      %br
                      - organization.user_emails(2).each do |email|
                        =mail_to email
                        %br
                %td.wrap-8
                  %ul.horizontal
                    //%li= link_to , projects_path(:response_id => response.id)
                    %li.right
                      %span{:class => "tooltip-S response_status #{response.state}", :title => response_log_tooltip(response)}
                    %li.right= link_to '', export_workplan_projects_path(:response_id => response.id), id: 'download_workplan', class: 'download big tooltip-S', :title => "Download Workplan"

  .sidebar
    %h2= "Combined Workplan (#{pluralize(current_user.organizations.count, 'organization')})"
    .section_base.wide.less_spacing
      %table.data.slim
        %tbody
          %tr
            %td
              - if current_user.workplan_file_name
                = link_to "Download", download_workplans_path
                ="(updated #{distance_of_time_in_words_to_now(current_user.workplan_updated_at)} ago)" if current_user.workplan_updated_at
                = link_to image_tag("icon_regenerate.png"), generate_workplans_path, :title => 'Regenerate workplan', class: 'right'
              - else
                = link_to "Generate", generate_workplans_path

  .sidebar#admin-submission
    %h2 Latest Submissions
    .section_base.wide.less_spacing
      %table.data.slim
        %tbody
          - if @dashboard.recent_responses.present?
            - @dashboard.recent_responses.each do |response|
              %tr
                %td
                  = link_to response.organization.name, projects_path(:response_id => response.id)
                  .hint= format_date(response.updated_at)
                %td
                  =link_to "Accept", accept_response_path(response), class: "create_inline"
                  =link_to "Reject", reject_response_path(response), class: "create_inline"
          - else
            %p.nothing No responses have been submitted yet.

= render 'comments_and_documents'
