- title("Dashboard")

%h1.main_heading
  = current_request.name

.full
  .main#admin-summary
    %h2
      Organizations I Manage

    .section_base.less_spacing
      %table.standard.am_organizations
        %thead
          %tr
            %th.am_organization Organization
            %th.am_contacts Contacts
            %th.am_status Status
            %th.center Workplan
        %tbody
          - @dashboard.organizations.each do |organization|
            - response = organization.data_responses.detect { |dr| dr.data_request_id == current_request.id }
            - if response
              - if response.response_state_logs.last
                - name = response.response_state_logs.last.user.name
                - date = response.response_state_logs.last.created_at.strftime("%d-%m-%Y")
              %tr
                %td.title= link_to organization.name, projects_path(:response_id => response.id)
                %td
                  %ul
                    %li
                      = organization.contact_name
                      %span= "(#{organization.contact_position})" if organization.contact_position.present?
                    %li
                      = organization.contact_phone_number.presence || organization.contact_main_office_phone_number
                  %ul
                    - organization.user_emails(2).each do |email|
                      %li= mail_to email
                %td
                  %ul
                    %li= link_to response.status, projects_path(:response_id => response.id)
                  - if name
                    %ul
                      %li= name
                      %li= date
                %td.center.download= link_to '', export_workplan_projects_path(:response_id => response.id), id: 'download_workplan', class: 'download'

  .sidebar
    %h2= "Combined Workplan (#{pluralize(current_user.organizations.count, 'organization')})"
    .section_base.wide.less_spacing
      %table.data.slim
        %tbody
          %tr
            %td
              = link_to "Download", download_workplans_path
              - if current_user.workplan
                ="(updated #{distance_of_time_in_words_to_now(current_user.workplan_updated_at)} ago)" if current_user.workplan_updated_at
              = link_to image_tag("icon_regenerate.png"), generate_workplans_path, :title => 'Regenerate workplan', class: 'right'

  .sidebar#admin-submission
    %h2 Latest Submissions
    .section_base.wide.less_spacing
      %table.data.slim
        %tbody
          - if @dashboard.recent_responses.present?
            - @dashboard.recent_responses.each do |response|
              %tr
                %td
                  = link_to response.organization.name, projects_path(:response_id => response.id)
                  .hint= format_date(response.updated_at)
                %td
                  =link_to "Accept", accept_response_path(response), class: "create_inline"
                  =link_to "Reject", reject_response_path(response), class: "create_inline"
          - else
            %p.nothing No responses have been submitted yet.

= render 'comments_and_documents'
