- title("Dashboard")

%h1.request_nav
  = render '/shared/request_nav'

- if current_user.sysadmin?
  = render 'sysadmin'
- elsif current_user.activity_manager?
  = render 'activity_manager'
- elsif current_user.reporter?
  = render 'reporter'

= render 'documents'
= render 'comments/short_listing', :comments => @comments
= will_paginate @comments
