- title("Dashboard")

%h1.request_nav
  = current_request.name

#welcome_box.section_form.bordered
  %h2.welcome_msg
    Here are few simple steps to help you get started

  %ul.welcome_steps
    %li.first
      - link_to edit_organization_path(:current) do
        %span.icon= image_tag "icon_welcome1.png", :alt => "Setup Your Organization", :height => "66"
        %span.title 1. Basic Settings
        %span.desc Your Organization's preferences and contact settings

    %li
      - link_to projects_path do
        %span.icon= image_tag "icon_welcome5.png", :alt => "Enter Your Projects & Activities", :height => "70"
        %span.title 2. Enter Your Projects & Activities
        %span.desc Define the health projects and activities your organization does

    %li.last
      - link_to submit_response_path(current_response) do
        %span.icon= image_tag "icon_welcome3.png", :alt => "Submit Response", :height => "70"
        %span.title 3. Submit Response
        %span.desc Submit your data for the requested period

  .welcome_info
    %p Have questions?
    %ul
      %li
        = link_to "Help Center", help_link, :target => "_blank"
        %span Our knowledge base and FAQ's
      %li
        = link_to "Contact Us", contact_link, :target => "_blank"
        %span Start a discussion with the support team.
        
.full
  .main#admin-summary
    %h2 Summary
    .section_base
      .full
        %h3 Current Request
        %h4= current_request.name
        -# = link_to image_tag("arrow-small.png"), "#", :class => "arrow"
      %ul
        %li.half
          - link_to "#", :class => "arrow" do
            %h3 Accepted
            %h4 50
          
        %li.half
          - link_to "#", :class => "arrow" do
            %h3 Not Yet Started
            %h4 50
          
        %li.half
          - link_to "#", :class => "arrow" do
            %h3 Pending Approval
            %h4 50
          
        %li.half
          - link_to "#", :class => "arrow" do
            %h3 Reporting Organizations
            %h4 50
          

  .sidebar#admin-submission
    %h2 Latest Updates
    .section_base.wide
      %table.data.slim
        %tbody
          %tr
            %td
              = link_to "#", "Projects path"
              .hint May 10 2012
        //- else
        //    %p No responses have been submitted yet.

= render 'comments_and_documents'
