- title("Dashboard")

%h1.request_nav
  = render '/shared/request_nav'

.full
  .main#admin-summary
    %h2 Summary
    .section_base
      .full
        %h3 Current Request
        %h4= current_request.name
        -# = link_to image_tag("arrow-small.png"), "#", :class => "arrow"
      %ul
        %li.half
          - link_to admin_responses_path(:filter => 'Accepted'), :class => "arrow" do
            %h3 Accepted
            %h4= @dashboard.accepted_percent

        %li.half
          - link_to admin_responses_path(:filter => 'Started'), :class => "arrow" do
            %h3 Started
            %h4= @dashboard.started_percent

        %li.half
          - link_to admin_responses_path(:filter => 'Not Yet Started'), :class => "arrow" do
            %h3 Not Yet Started
            %h4= @dashboard.not_yet_started_percent

        %li.half
          - link_to admin_responses_path(:filter => 'Submitted'), :class => "arrow" do
            %h3 Pending Approval
            %h4= @dashboard.pending_approval


  .sidebar#admin-submission
    %h2 Latest Submissions
    .section_base.wide
      %table.data.slim
        %tbody
          - if @dashboard.submitted_responses.present?
            - @dashboard.submitted_responses.each do |response|
              %tr
                %td
                  = link_to response.organization.name, projects_path(:response_id => response.id)
                  .hint= format_date(response.updated_at)
          - else
            %p No responses have been submitted yet.

= render 'comments_and_documents'
