= semantic_form_for comment do |f|
  %h2 Replying
  .section_form.single.connect
    .big_gravatar
      = image_tag current_user.gravatar(60)
    = f.semantic_errors :state
    = f.inputs "", :id => "basic", :class => "collapsible" do
      = f.input :commentable_type, input_html: { value: parent.commentable_type }, as: :hidden
      = f.input :commentable_id, input_html: { value: parent.commentable_id}, as: :hidden
      = f.input :parent_id, :as => :hidden
      = f.input :comment, :label => 'Comment', :input_html => {:placeholder => 'Type your comment here', :cols => "120", :rows => "3"}
    = f.actions do
      = f.action :submit, :label => 'Reply', :button_html => { :class => "js_submit_comment_btn create_alt push-8" }
      %li.left= link_to "Cancel", "#", :class => 'js_cancel_reply cancel'
      %li.left.js_ajax_loader= image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"
