%h2
  Recent Comments
  .read_more.comments_read_more= link_to "view all", current_user.sysadmin? ? admin_comments_path : comments_path
%ul.dashboard_comments
  - comments.each do |comment|
    - if comment.commentable
      %li
        .avatar
          = image_tag comment.user.gravatar(60)
        .comment
          .author
            .left= "from #{comment.user.name} (#{time_ago_in_words(comment.created_at)} ago)"
            .right= "#{auto_link(comment.user.email)}"

          %h5.title
            - comment_title = truncate(model_name(comment.commentable), :length => 40)
            - comment_title += " (#{comment.commentable.organization.name})" unless comment.commentable.organization == current_user.organization
            %span= link_to comment_title, commentable_path(comment, current_user)
          %p= truncate(comment.comment, :length => 300)

