- is_activity = outlay.class == Activity ? true : false

.section_overlap
  %ul.section_nav
    - if outlay.new_record?
      - tabs(outlay).values.each_with_index do |tab, index|
        %li{:class => index == 0 ? 'selected' : ''}
          .dummy
            %span= index + 1
            = tab
    - else
      - tabs(outlay).each_with_index do |tab, index|
        %li{:class => tab_class(tab[0])}
          = link_to edit_activity_or_ocost_path(outlay, :mode => tab[0]) do
            %span= index + 1
            = tab[1]
