%p Hello,

%p== #{@comment.user.name} <#{@comment.user.email}> has made a new comment on the #{@comment.commentable.name} #{@comment.commentable.class.to_s.titleize}:

%p= @comment.comment

%p To view/respond to it, please visit the url below:

= link_to (url = commentable_url(@comment)), url

= render 'signature'
