- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    var _expenditure_summary   = #{js_safe(@report.expenditure_pie)};
    var _budget_summary  = #{js_safe(@report.budget_pie)};

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.main_heading
  %ul.breadcrumb
    %li= link_to "Overview", reports_path
    - if @report.resource.project
      %li= link_to @report.resource.project.name.first(30), reports_project_path(@report.resource.project)

  - if @report.name.length >= 44
    .tooltip-S.left{:title=>@report.name}= @report.name.first(41) + '...'
  - else
    = @report.name

  .request_nav.right
    = render '/shared/request_nav', :disable => true

= render 'reports/shared/summary'

.section_overlap
  %ul.section_nav#tabs-container
    = render '/reports/shared/activity_tabs'

#charts_tables
  .implementers_tab{:"data-loaded" => 'true'}
    = render '/reports/shared/report_data'
  .locations_tab{:"data-loaded" => 'false', :"data-url" => locations_reports_activity_path(@report.resource), :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .inputs_tab{:"data-loaded" => 'false', :"data-url" => inputs_reports_activity_path(@report.resource), :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
