- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    var _expenditure_summary   = #{js_safe(@report.expenditure_pie)};
    var _budget_summary  = #{js_safe(@report.budget_pie)};

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.request_nav
  = render '/shared/request_nav', :disable => true

.crumb_heading
  %ul.breadcrumb
    %li
      = link_to "Overview", reports_path
      - if @report.activity.project
        = link_to @report.activity.project.name, reports_project_path(@report.activity.project)
        
  %h1= @report.activity.name

.reports_summary.section_form.top
  %p.summary_col
    %span Total Expenditure
    %span.currency= @report.currency
    = number_to_currency @report.total_spend, :unit => ""
  %p.summary_col
    %span Total Budget
    %span.currency= @report.currency
    = number_to_currency @report.total_budget, :unit => ""
  %p.summary_col.last
    %span Change
    %span.currency %
    = @report.percentage_change

.section_overlap
  %ul.section_nav#tabs-container
    = render '/reports/shared/activity_tabs'


#charts_tables
  .implementers_tab{:"data-loaded" => 'true'}
    = render '/reports/shared/report_data'
  .locations_tab{:"data-loaded" => 'false', :"data-url" => locations_reports_activity_path(@report.activity), :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .inputs_tab{:"data-loaded" => 'false', :"data-url" => inputs_reports_activity_path(@report.activity), :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
