:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  var _expenditure_summary   = #{js_safe(@report.expenditure_pie)};
  var _budget_summary  = #{js_safe(@report.budget_pie)};

.dashboard_section.section_form.first
  .full
    .first-half
      %h2= "Expenditure Summary"
      = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"
      #code_spent.bordered

    .second-half
      %h2= "Budget Summary"
      = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"
      #code_budget.bordered

  %br
  = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"
  #report-data
    = render 'reports/table'
