- title("Codes")

%h1.main_heading Codes
%hr.heading
%ul.horizontal
  %li
    = link_to "File Import", '#', :id => "csv_file", :class => 'create_alt'

#import
  %h3.title_bar Import a CSV file
  .section_base
    %p Create one or more codes from a CSV file. You can save an Excel spreadsheet as a CSV file through File -> Save As, then select comma separated values (CSV) in the file format box under the file name.

    #import_csv
      = form_tag create_from_file_admin_codes_path, :multipart => true do
        = label_tag :file, "File"
        = file_field_tag :file
        = submit_tag "Upload and Import", :class => 'small_submit_button'

      = link_to "Download template", download_template_admin_codes_path

.section_form.single.connect
  #filter_help.left
    %p= search_message("codes", @codes.total_entries, params[:query], admin_codes_path)
  #search.push
    = form_tag admin_codes_path, :method => :get do
      = render 'shared/search_form'

  %table.standard
    %thead
      %tr
        %th= sortable "short_display"
        %th= sortable "type"
        %th= sortable "description"
        %th

    %tbody
      - @codes.each do |code|
        %tr{:class => cycle("even", "odd")}
          %td= code.short_display
          %td= code.type
          %td= code.description
          %td
            %ul.manage_bar
              %li= link_to "Edit", edit_admin_code_path(code)

= will_paginate @codes
