- title "Change Your Password"

.sign_in_form.center

  %h2 Change Password

  = semantic_form_for(resource, :as => resource_name, :namespace => 'password_reset', :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.inputs do
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :label => "New Password"
      = f.input :password_confirmation
    = f.actions do
      = f.action :submit, :label => "Change My Password", :button_html => {:class => "create_alt"}

