- title 'Dynamic Reports'

- content_for :sub_nav do
  = render('admin/shared/reports_sub_nav')

%h1.main_heading
  Dynamic Reports
  .request_nav.right
    = render '/shared/request_nav'

%ol
  %li.section_form.first.last
    %table.data
      %thead
        %tr.head
          %th Report
          %th= "#{current_fy(current_response)} Expenditures"
          %th= "#{next_fy(current_response)} Budgets"

      %tbody
        = render 'single_report_row', :title => 'Activity Overview', :key => 'activity_overview'
        = render 'mark_double_counts', :report_name => :activity_overview
        = render 'single_report_row', :title => 'Funding Source Query', :key => 'funding_source_query'
        = render 'mark_double_counts', :report_name => :funding_source
        = render 'double_report_row', :title => 'Implementer Purpose', :budget_key => 'budget_implementer_purpose', :spend_key => 'spend_implementer_purpose'
        = render 'double_report_row', :title => 'Implementer Input', :budget_key => 'budget_implementer_input', :spend_key => 'spend_implementer_input'
        = render 'double_report_row', :title => 'Implementer Location', :budget_key => 'budget_implementer_location', :spend_key => 'spend_implementer_location'
        = render 'double_report_row', :title => 'Implementer Funding Source', :budget_key => 'budget_implementer_funding_source', :spend_key => 'spend_implementer_funding_source'
        = render 'double_report_row', :title => 'Implementer Output', :budget_key => 'budget_implementer_output', :spend_key => 'spend_implementer_output'
        = render 'double_report_row', :title => 'Implementer Beneficiary', :budget_key => 'budget_implementer_beneficiary', :spend_key => 'spend_implementer_beneficiary'
        = render 'dqr_report_row', :title => 'Started Responses Dynamic Query', :budget_key => 'budget_started_dynamic_query', :spend_key => 'spend_started_dynamic_query'
        = render 'dqr_report_row', :title => 'Accepted Responses Dynamic Query', :budget_key => 'budget_accepted_dynamic_query', :spend_key => 'spend_accepted_dynamic_query'
        = render 'dqr_report_row', :title => 'Submitted Responses Dynamic Query', :budget_key => 'budget_submitted_dynamic_query', :spend_key => 'spend_submitted_dynamic_query'
        = render 'dqr_report_row', :title => 'Rejected Responses Dynamic Query', :budget_key => 'budget_rejected_dynamic_query', :spend_key => 'spend_rejected_dynamic_query'
        = render 'dqr_report_row', :title => 'All Responses Dynamic Query', :budget_key => 'budget_all_dynamic_query', :spend_key => 'spend_all_dynamic_query'
