- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    var _expenditure_summary   = #{js_safe(@report.expenditure_pie)};
    var _budget_summary  = #{js_safe(@report.budget_pie)};

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.request_nav.main_heading
  = render '/shared/request_nav'


%ul.breadcrumb
  %li
    = link_to "Overview", overview_reports_response_path(@response)
    >

%h2= @report.project.name

.reports_summary.dashboard_section.section_form
  %p.summary_col
    %span Total Expenditure
    %span.currency= @report.currency
    = number_to_currency @report.total_spend, :unit => ""
  %p.summary_col
    %span Total Budget
    %span.currency= @report.currency
    = number_to_currency @report.total_budget, :unit => ""
  %p.summary_col.last
    %span Change
    %span.currency %
    = @report.percentage_change

%ul.group.connect#tabs-container
  %li= link_to "Activities", "#", :class => "active"
  %li= link_to "Locations", "#"
  %li= link_to "Inputs", "#"

.dashboard_section.section_form.first

  .full
    .first-half
      %h2= "Expenditure Summary"
      #code_spent.bordered

    .second-half
      %h2= "Budget Summary"
      #code_budget.bordered

  %br
  %table.data
    %thead
      %tr.head
        %th Name
        %th.align Expenditure
        %th.align Budget

    %tbody
      - @report.activities_and_other_costs.each do |activity|
        %tr
          %td= activity.name
          %td.align= number_to_currency activity.total_spend, :unit => ""
          %td.align= number_to_currency activity.total_budget, :unit => ""
      %tr.summary
        %td
          Total
        %td.align
          %span.currency= @report.currency
          = number_to_currency @report.total_spend, :unit => ""
        %td.align
          %span.currency= @report.currency
          = number_to_currency @report.total_budget, :unit => ""

