%li= link_to "Reporters", '#', :class => "active nav-tab", :"data-tab" => 'reporters_tab', :"data-report" => 'reporters'
%li= link_to "Funders", '#', :class => "nav-tab", :"data-tab" => 'funders_tab', :"data-report" => 'funders'
%li= link_to "Progress", '#', :class => "nav-tab", :"data-tab" => 'progress_tab', :"data-report" => 'progress'
%li= link_to "Locations", '#', :class => "nav-tab", :"data-tab" => 'locations_tab', :"data-report" => 'locations'
%li= link_to "Purposes", '#', :class => "nav-tab", :"data-tab" => 'purposes_tab', :"data-report" => 'purposes'

