- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  google.load("visualization", "1", {packages: ["corechart"]});
  var _responses = #{js_safe(@pie)};

- title("Responses")

%h1.request_nav
  = render '/shared/request_nav'
  #search
    - form_tag admin_responses_path, :method => :get do
      = render 'shared/search_form'

#reports-summary
  %h2 Response Status
  #response_chart

= render 'filters'

.section_form.wrapped.last
  #filter_help
    %p= search_and_filter_responses(@responses.total_entries, params[:query], params[:filter])

  - unless @responses.empty?
    %table.standard.rounded
      %thead
        %tr
          %th Response
          %th Organization
          %th Status
      %tbody
        = render :partial => 'response', :collection => @responses

    = will_paginate @responses
