- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

:javascript
  google.load("visualization", "1", {packages: ["corechart"]});
  var _responses = #{js_safe(@pie)};

- title("Responses")

%h1.main_heading
  Responses
  .request_nav.right
    = render '/shared/request_nav'
%hr.heading
%ul.horizontal
  %li
    - link_to new_admin_response_path, :class => "create_alt" do
      = image_tag "new.png"
      Create Response

#reports-summary
  #response_chart.section_form.top.connect

= render 'filters'

.section_form.wrapped.last.topless
  #search.push
    - form_tag admin_responses_path, :method => :get do
      = render 'shared/search_form'

  #filter_help
    %p= search_and_filter_responses(@responses.total_entries, params[:query], params[:filter])

  - unless @responses.empty?
    %table.standard
      %thead.static
        %tr
          %th Response
          %th Organization
          %th Status
      %tbody
        = render :partial => 'response', :collection => @responses

    = will_paginate @responses
