- @project = project
- project_activities = @activities ? @activities.find_all{|a| a.project == project} : @project.activities

.activity_box{:id => dom_id(@project)}
  .header.section_nav
    %span.indicator.collapsed
    - if project.valid? && project_activities.select{|a| !a.errors.empty?}.empty?
      = image_tag "tick_12.png", :class => 'hidden saved_tick js_unsaved'
    - else
      = image_tag "warning_12.png", :title => "This project has not been saved because you need to add more information and/or correct any errors. Click here to open the activity if it is closed", :class => 'tooltip js_unsaved'

    = link_to friendly_name(project, 50), "#"

  .js_main.section_base{:style => (project.valid? && params[:format] != 'js' ? 'display: none;' : nil)}

    = render 'shared/error_messages', :resource => @project

    = semantic_form_for project, :namespace => form_namespace(project), :url => create_or_edit_project_path(project, @response), :remote => true, :html => {:class => "condensed_form basic_form bulk_edit_form"} do |f|
      = f.inputs :class => 'inputs_condensed' do

        .project_heading Project
        = f.input :data_response_id, :as => :hidden
        %li.section_form
          = render "projects/basic_fields", :f => f
          %table.input_table
            %thead
              %tr
                %th Funding Organization
                %th
                  .right_justified= "Disbursements Received (#{current_fy(@response)})"
                %th
                  .right_justified= "Planned Disbursements (#{next_fy(@response)})"
                %th

            %tbody
              = f.fields_for :in_flows, project.in_flows do |flows|
                %tr.overflow_fix.fields
                  %td.title= flows.text_field :organization_id_from, :value => flows.object.from.try(:name), :class =>'js_autocomplete'
                  %td= flows.text_field :spend, :class => 'js_spend no_style', :class => flows.object.errors[:spend].present? ? "error" : ""
                  %td= flows.text_field :budget , :class => 'js_budget no_style', :class => flows.object.errors[:budget].present? ? "error" : ""
                  %td.delete= link_to_remove_fields "x", flows, :class => 'delete_row'

        -# project_activities will be empty once the Save is pressed
        - unless project_activities.empty?
          %li.section_form
            %h3 Activities
            %ul.condensed_fields.section_form.activities_form
              = f.fields_for :activities, project_activities, :class => 'section_form' do |ff|
                = render 'activity', :f => ff

        %li.borderless.marginless.full
          %br
          = f.actions :class => 'buttons' do
            = f.action :submit, :label => "Save Project", :wrapper_html => {:class => "left save_btn"}, :button_html => {:class => "next"}
            = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => 'display: none;'
