- f.inputs :class => 'inputs' do
  %li.last
    %ul.section_form.first
      = render 'projects/basic_fields', :f => f

    .section_overlap
      %ul.section_nav
        %li{:class => 'selected'}
          .dummy
            %span 1
            Project Funding Sources

  %li.last
    = render 'projects/in_flows', :f => f

  %li.last
    %ul.horizontal.section_form.last.connect
      - f.buttons :class => 'buttons', :style => 'float: none' do
        = f.commit_button :button_html => {:class => "last next"}
        %li
          = link_to "Cancel", projects_path, :class => "js_toggle_projects_listing cancel"

- unless @project.new_record?
  .delete_section
    = link_to "Delete this Project", project_path(@project), :confirm => "Are you sure you want to delete this Project?", :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete a Project, you will lose all data associated with it, and there is no undo.
