- title("Projects")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

= render :partial => 'new_forms'

#projects_listing
  %h1.main_heading
    Projects & Activities
    .request_nav.right
      - if current_user.sysadmin?
        = render '/shared/request_nav'
      - else
        = current_request.name

  %hr.heading
  = render 'getting_started'

  %ul#nav.horizontal
    %li.js_dropdown_menu
      = link_to '#', :class => 'js_dropdown_trigger dropdown' do
        = image_tag "new.png"
        Create New...
        = image_tag "icon_dropdown.png"

      %ul.menu_items{:style => 'display: none'}
        %li= link_to 'Project', new_project_path, :"data-type" => 'project', :class => 'js_toggle_project_form js_address'
        %li= link_to 'Activity', new_activity_path, :"data-type" => 'activity', :'data-project' => -1, :class => 'js_toggle_activity_form js_address'
        %li= link_to 'Indirect Cost', new_other_cost_path, :"data-type" => 'other_cost', :class => 'js_toggle_other_cost_form js_address'

    %li.js_dropdown_menu
      = link_to '#', :class => 'js_dropdown_trigger dropdown' do
        Import / Export
        = image_tag "icon_dropdown.png"

      %ul.menu_items{:style => 'display: none'}
        %li= link_to 'Import', '#', :id => "import_export"
        %li= link_to 'Export', export_projects_path

    %li
      = link_to export_workplan_projects_path, :class => 'dropdown dropless' do
        Download Workplan

    = render :partial => 'actions'

    - if @response.response_state_logs.last
      %li
        %div.last_action= "by #{truncate(@response.response_state_logs.last.user.name, length: 16)} on #{@response.response_state_logs.last.created_at.strftime("%d %b '%y")}"

    %li.right
      = render 'search'

  = render 'rejection_reason', comment: @comment

  #import_export_box
    = render 'activities_import', :project => nil, :can_export => @response.activities.present?

  - if params[:query]
    %p
      = "Projects with names containing #{params[:query]}"
      = link_to "(Back to complete project listing)", projects_path

  %table.data
    %thead
      %tr.head
        %th{:colspan => 3}
        %th
          .right_justified= current_fy(@response)
        %th
          .right_justified= next_fy(@response)
      %tr.head
        %th= sortable "name", "Project"
        %th{:colspan => 2} Activity / Indirect Cost
        %th
          .right_justified Past Expenditure
        %th
          .right_justified Current Budget

    %tbody
      - @projects.each do |project|
        = render "project", :project => project

      - if @projects.empty? && @response.other_costs.empty?
        %tr
          %td{:colspan => 100}
            = render 'no_projects_yet'

      = render 'other_costs_no_project', :response => @response, :other_costs => @response.other_costs.without_project

      %tr.filler2.big-total
        %td{:colspan => 3} TOTAL
        %td.wrap-12
          .right_justified= n2cs(@response.total_spend, @response.currency)
        %td.wrap-12
          .right_justified= n2cs(@response.total_budget, @response.currency)

  = will_paginate @projects
  %br
  = render 'shared/comments', :comments => @comments
