- title("Organizations")

%h1.main_heading
  Organizations
  #search
    - form_tag admin_organizations_path, :method => :get do
      = render 'shared/search_form'

= render :partial => 'buttons'

= render :partial => 'import'

.section_form.wrapped.last
  - unless @organizations.empty?
    %table.standard.rounded
      %thead
        %tr
          %th= sortable "name", "Organization"
          %th Last Login By
          %th Last Login At
          %th= sortable 'raw_type', "Type"
          %th= sortable 'fosaid', "FOSAID"
          %th Location
          %th= sortable "created_at", "Created", true
          %th
      %tbody
        = render :partial => 'organization', :collection => @organizations

    = will_paginate @organizations
