- title("Organizations")

%h1.main_heading Organizations
%hr.heading
= render :partial => 'buttons'

= render :partial => 'import'

= render 'filters'

.section_form.wrapped.last.topless
  #search.push
    - form_tag admin_organizations_path, :method => :get do
      = render 'shared/search_form'
  #filter_help.left
    %p= search_and_filter_message(@organizations.total_entries, params[:query], params[:filter])

  - unless @organizations.empty?
    %table.standard
      %thead
        %tr
          %th= sortable "name", "Organization"
          %th Last Login By
          %th Last Login At
          %th= sortable 'raw_type', "Type"
          %th= sortable 'fosaid', "FOSAID"
          %th= sortable "created_at", "Created", true
          %th
      %tbody
        = render :partial => 'organization', :collection => @organizations

    = will_paginate @organizations
