- budget_rep = @report_map[budget_key]
- spend_rep = @report_map[spend_key]

- if budget_rep && spend_rep
  %tr
    %td= title
    %td
      = link_to "Export", admin_report_path(spend_rep), :title => 'CSV (Comma Separated Value) report', :class => "sml_btn"
      .regenerate= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(spend_key), :title => 'Regenerate report'
      .hint= "(updated #{distance_of_time_in_words_to_now(spend_rep.csv_updated_at)} ago)" if spend_rep.csv_updated_at
    %td
      = link_to "Export", admin_report_path(budget_rep), :title => 'CSV (Comma Separated Value) report', :class => "sml_btn"
      .regenerate= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(budget_key), :title => 'Regenerate report'
      .hint= "(updated #{distance_of_time_in_words_to_now(budget_rep.csv_updated_at)} ago)" if budget_rep.csv_updated_at
