- rep = @report_map[key]
- title = Report.key_to_name(key)

- if rep
  %tr
    %td
      = title
    %td
      - if rep.formatted_csv?
        = link_to "Download", admin_report_path(rep, :formatted => true), :title => 'Formatted report', :class => "sml_btn"
      = link_to "Export", admin_report_path(rep), :title => 'CSV (Comma Separated Value) report', :class => "sml_btn"
      .regenerate= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report'
      .hint= "(updated #{distance_of_time_in_words_to_now(rep.csv_updated_at)} ago)" if rep.csv_updated_at
    %td
      - if rep.formatted_csv?
        = link_to "Downlaod", admin_report_path(rep, :formatted => true), :title => 'Formatted report', :class => "sml_btn"
      = link_to "Export", admin_report_path(rep), :title => 'CSV (Comma Separated Value) report', :class => "sml_btn"
      .regenerate= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report'
      .hint= "(updated #{distance_of_time_in_words_to_now(rep.csv_updated_at)} ago)" if rep.csv_updated_at
      
    //%ul.report_actions
    //  %li= link_to image_tag("icon_edit.png"), edit_admin_report_path(rep)
    //  %li= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report'

        

- else # If report wasnt generated yet, allow user to regen it.
  %tr
    %td{:colspan => '4'}= link_to title, generate_admin_report_path(key), :title => 'Generate report', :class => "grayed-out"
    %td= link_to image_tag("icon_regenerate.png"), generate_admin_report_path(key), :title => 'Regenerate report', :class => "regenerate"
