- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

- title 'Reports'

- content_for :sub_nav do
  = render('admin/shared/reports_sub_nav')

%h1.main_heading
  .left
    Reports Overview

  .request_nav.right
    = render '/shared/request_nav'
%hr.heading

.section_overlap
  %ul.section_nav#tabs-container
    = render :partial => 'admin/reports/shared/tabs'
    %li.right
      = link_to "Export", "#", :id => "export-report", :class => "create_alt monochrome"
      = render 'shared/print_icon'

    %li.right.include_double_count.hidden.dummy
      = image_tag "ajax-loader.gif", :class => "ajax-loader hidden"
      = check_box_tag :include_double_count, false
      = label_tag :include_double_count

#charts_tables
  .reporters_tab{:"data-loaded" => 'true', :"data-url" => reporters_admin_reports_path(:response_id => current_response.id), :"data-chart" => 'column'}
    = render '/reports/shared/report_data'
  .funders_tab{:"data-loaded" => 'false', :"data-url" => funders_admin_reports_path(:response_id => current_response.id), :"data-chart" => 'column', :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .progress_tab{:"data-loaded" => 'false', :"data-url" => 'TODO', :"data-chart" => 'column', :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .locations_tab.download{:"data-loaded" => 'false', :"data-url" => locations_admin_reports_path(:response_id => current_response.id), :"data-chart" => 'column', :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .purposes_tab{:"data-loaded" => 'false', :"data-url" => 'TODO', :"data-chart" => 'column', :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
