%thead
  %tr
    %th Title
    %th Visibility
    %th Last modified
    %th

%tbody
  - documents.each do |document|
    %tr{:class => cycle("even", "odd")}
      %td
        = link_to(document.title, document.document.url, :class => 'title')
        - unless document.description.blank?
          = link_to image_tag("tooltip.png"), "#", :title => document.description, :class => 'tooltip'
      %td= document.visibility.humanize
      %td= document.updated_at.strftime("%b %d, %Y")
      %td
        - if show_manage_bar
          %ul.manage_bar
            %li= link_to "Edit", edit_admin_document_path(document)
            %li= link_to "x", admin_document_path(document), :confirm => "Are you sure you want to delete this document?", :method => :delete, :class => "right", :title => "Delete"

