= render 'shared/error_messages', :resource => @document

= form_for [:admin, @document], :builder => CustomFormBuilder, :html => {:class => 'basic_form js_form', :multipart => true} do |f|

  %fieldset.inputs
    %ol
      %li.last
        %ul.section_form.first
          = f.text_field :title, input_options('Title', "Title to identify the uploaded file")
          = f.text_area :description, input_options('Description', nil, false).merge(:rows => 10)
          = f.select :visibility, options_for_select(Document::VISIBILITY_OPTIONS.map{|o| [o.humanize, o]}, @document.visibility), input_options('Visibility')
          = f.file_field :document, input_options('File', current_document_name(@document))
      %li.last
        %ul.section_form.last.connect
          %fieldset.buttons
            = f.submit "Save", :class => 'next update'
