- title("Files")

- content_for :sub_nav do
  = render('admin/shared/reports_sub_nav')

%h1.main_heading
  Files
  = image_tag "alertwarning_icon.png", :title => "Files downloaded from this website are not for distribution.", :class => 'tooltip'
%hr.heading
%ul.horizontal
  %li
    = link_to new_admin_document_path, :class => "create_alt" do
      = image_tag "new.png"
      Create File

.section_form.single
  %table.standard
    = render 'admin/documents/documents', :documents => @documents, :show_manage_bar => true

= will_paginate @documents
