- title("Files")

- content_for :sub_nav do
  = render('admin/shared/reports_sub_nav')

%h1.main_heading Files

%ul.horizontal
  %li
    - link_to new_admin_document_path, :class => "create_alt" do
      = image_tag "new.png"
      Create File

%table.standard.rounded
  %thead
    %tr
      %th Title
      %th Visibility
      %th Last modified
      %th

  %tbody
    - @documents.each do |document|
      %tr{:class => cycle("even", "odd")}
        %td= link_to(document.title, document.document.url)
        %td= document.visibility.humanize
        %td= document.updated_at.strftime("%b %d, %Y")
        %td
          %ul.manage_bar
            %li= link_to "Edit", edit_admin_document_path(document)
            %li= link_to "x", admin_document_path(document), :confirm => "Are you sure you want to delete this document?", :method => :delete, :class => "right", :title => "Delete"



= will_paginate @documents
