.form_aside.section_form.single
  %h3 New responses
  %p A new response will be automatically created for each reporting organization.
  %br
  %p The new response will clone projects and activities (without amounts) from the organization's response to the previous request (based on start date).

%fieldset.inputs
  %ol
    %li.last
      %h2 Basics
      %ul.section_form.first
        = f.text_field :title, :label => 'Title', :hint => 'Descriptive name of the data request'
        = f.hidden_field :organization_id, :value => current_user.organization.id
        %li
          %label Organization
          %p= current_user.organization
        = f.text_field :start_date, :value => formatted_date(f.object.start_date), :label => 'Start date', :class => 'date_picker', :hint => 'What is the start date of period for which data is requested?'
    %li.last
      %ul.horizontal.section_form.last.connect
        %fieldset.buttons.push-12
          - button_label = @request.new_record? ? 'Create request' : 'Update request'
          = f.submit button_label, :class => 'next update'
