%table.standard
  %thead
    %tr
      %th Full name
      %th Email
      %th.org Organization
      %th.login Last login
      %th Role
      %th.invitation Invitation

  %tbody
    - users.each do |user|
      %tr{:class => cycle("even", "odd")}
        %td= link_to_if current_user.sysadmin?, "#{user.full_name}", edit_admin_user_path(user)
        %td= mail_to user.email
        %td= user.organization.try(:name)
        %td= last_signin_for(user)
        %td= user.roles.map{|role| role.humanize}.join(', ')
        %td= user.invite_token.nil? ? "No pending" : "1 pending"
