%fieldset.inputs
  %ol
    %li.last
      %h3 User details
      %ul.section_form
        %li
          = f.collection_select :organization_id, Organization.ordered, :id, :name, {hint: "The organization this user is associated with"}, {label: "Organization"}
        %li
          = f.text_field :full_name, hint: "Full name of the user"
        %li
          = f.text_field :email, hint: "Email of the user"


    %li.last
      %h3 Roles
      %ul.section_form
        = f.select :roles, User::ROLES.map{|u| [u.humanize, u]}, {}, {multiple: true, class: 'multiselect', :label => "Assign roles to this user", wrapper_html: {:class => 'roles'}}
    -#     = f.input :roles, :required => false, :as => :select, :collection => User::ROLES.map{|u| [u.humanize, u]}, :input_html => {:multiple => :multiple, :class => 'multiselect'}, :include_blank => false, :wrapper_html => {:class => 'roles'}

    %li.js_manage_orgs.last
      %h3 Organizations to Manage
      %ul.section_form.last
        = f.select :organization_ids, Organization.with_users.map{|o| [o.name, o.id]}, {}, {multiple: true, :label => "Assign organizations to this Activity Manager", :class => 'multiselect', :wrapper_html => {:class => 'organizations', :style => 'visibility: hidden;'}}

    %li.last
      %ul.section_form
        = f.submit @user.new_record? ? "Create New User" : "Update User", :class => "next update"

- unless @user.new_record?
  .delete_section
    = link_to "Delete this User", admin_user_path(@user), :data => { :confirm => "Are you sure you want to delete this User?" }, :method => :delete, :class => 'delete_action'
    %p
      %strong Warning:
      Once you delete an User, you will lose all data associated with it, and there is no undo.
