- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.main_heading
  .left
    Organization Overview
    %a{:href => "javascript:window.print()", :id => "print-page"}
      = image_tag "icon_print.png", :alt => "Print This Page", :title => "Print This Page"
    
  .request_nav.right
    = render '/shared/request_nav'

= render 'reports/shared/summary', :hide_title => true

.section_overlap
  %ul.section_nav#tabs-container
    = render :partial => 'reports/shared/tabs'

#charts_tables
  .projects_tab{:"data-loaded" => 'true'}
    = render '/reports/shared/report_data'
  .locations_tab{:"data-loaded" => 'false', :"data-url" => locations_reports_path, :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .inputs_tab{:"data-loaded" => 'false', :"data-url" => inputs_reports_path, :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
