- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.main_heading
  .left
    Organization Overview
  .request_nav.right
    = render '/shared/request_nav'

= render 'reports/shared/summary', :hide_title => true

.section_overlap
  %ul.section_nav#tabs-container
    = render :partial => 'reports/shared/tabs'
    %li.right
      = link_to "Export", "#", :id => "export-report", :class => "create_alt monochrome"
      = render 'shared/print_icon'

    %li.right
      %ul#nav.horizontal
        %li.js_dropdown_menu
          = link_to '#', class: 'js_dropdown_trigger dropdown monochrome' do
            Detailed Report
            = image_tag "icon_dropdown.png"
          %ul.menu_items{style: 'display: none'}
            %li
              =link_to 'Expenditure', generate_overview_response_path(@report.resource, type: 'spend')
            %li= link_to 'Budget', generate_overview_response_path(@report.resource, type: 'budget')

#charts_tables
  .projects_tab{:"data-loaded" => 'true', :"data-url" => projects_reports_path}
    = render '/reports/shared/report_data'
  .locations_tab{:"data-loaded" => 'false', :"data-url" => locations_reports_path, :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
  .inputs_tab{:"data-loaded" => 'false', :"data-url" => inputs_reports_path, :style => 'display: none;'}
    = image_tag "ajax-loader.gif", :class => "ajax-loader"
