- content_for :head do
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

- title 'Reports'

- content_for :sub_nav do
  = render('shared/reports_sub_nav')

%h1.request_nav
  = render '/shared/request_nav'

.reports_summary.section_base.section_form.single
  %p.summary_col
    %span Total Expenditure
    %span.currency= @report.currency
    = number_to_currency @report.total_spend, :unit => ""
  %p.summary_col
    %span Total Budget
    %span.currency= @report.currency
    = number_to_currency @report.total_budget, :unit => ""
  %p.summary_col.last
    %span Change
    %span.currency %
    = @report.percentage_change

%ul.group.connect#tabs-container
  = render :partial => 'reports/shared/tabs'

#charts_tables
  = render '/reports/shared/report_data'
